* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar {
    width: 30%;
    margin: 50px auto;
}

.calendar .header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}

.calendar .header button {
    height: 20px;
    width: 20px;
    margin: auto 0;
    background-color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calendar .header button i {
    color: white;
    font-size: 18px;
    margin-top: 2px;
    opacity: 0.7;

}

.table {
    background-color: #2c2b2b;
    color: white;
    padding: 20px 20px;
}

.table .table-month {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.table .table-month .table-month-year {
    display: flex;
}

.table .table-month .table-month-year p {
    margin-right: 5px;
}

.table-icon button:nth-child(1) {
    margin-right: 25px;
}

.table-icon button {
    border: none;
    width: 30px;
    height: 30px;
    background: none;
    color: white;
    cursor: pointer;
}

.table-icon i {
    opacity: 0.7;
}

.table-day ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.table-day ul li {
    width: calc(100% / 7) !important;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    animation: anition 0.1s ease-in;
}

.table-day ul li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.table-day ul li:hover:before {
    background: gray;
}

.selector {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    height: 40px;
    color: white;
    align-items: center;
}

.mini {
    display: flex;
}

.mini button {
    color: white;
    background: none;
    border: none;
}

.mini p {
    margin: 0 20px;
}

.mini i {
    border: 1px solid gray;
    background-color: rgb(179, 174, 174, 0.4);
    border-radius: 3px;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

.focus button {
    height: 25px;
    width: 60px;
    background-color: rgb(179, 174, 174, 0.6);
    border: none;
    border-radius: 5px;
    color: white;
}

.opacity {
    opacity: 0.5;
}

.active::before {
    background-color: rgb(38, 76, 159);
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.current-date {
    cursor: pointer;
}

.renderMonth {
    background-color: #2c2b2b;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    display: none;
}

.mothlastOf {
    opacity: 0.5;
}

.monthlast {
    cursor: pointer;
    animation: anition 0.1s ease-in;
}

.renderYear {
    background-color: #2c2b2b;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    display: none;
}

@keyframes anition {
    0% {
        transform: translateY(50px);
       
    }

    50% {
    
        transform: translateY(20px);
    }

    100% {
       transform: translateY(0);
    }
}

@media screen and (max-width:960px) {
    .calendar {
        width: 60%;
    }

}

@media screen and (min-width:1400px) {
    .calendar {
        width: 50%;
        font-size: 30px;
    }

    .calendar .header {
        height: 100px;
        line-height: 100px;
    }

    .table-day ul li {
        padding: 40px;
        font-size: 40px;
    }

    .table-day ul li::before {
        width: 90px;
        height: 90px;
    }

    .selector {
        height: 100px;
        line-height: 100px;
    }

    .table-icon i {
        font-size: 30px;
    }

    .calendar .header button {
        width: 50px;
        height: 50px;
    }

    .calendar .header button i {
        font-size: 40px;
    }

    .mini i {
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .focus button {
        width: 130px;
        height: 50px;
    }

    .focus button {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .focus button i {
        margin-right: 5px;
        font-size: 40px;
    }

    .renderMonth {
        row-gap: 160px;
        margin: 50px 0;
        font-size: 40px;
    }

    .renderYear {
        row-gap: 160px;
        margin: 50px 0;
        font-size: 40px;
    }
}